# BOT EO configuration file - bias dark flat

[ACQUIRE]
#bias
#dark
flat

[ANALYZE]

[ANALYSIS_RUNS]
# If no gains are specified here, a default gain of 1 will be used
GAIN=curated_amp_gains_2020-09-16.json

[BIAS]
ANNOTATION=Degraded
LOCATIONS=R00,R01,R02,R03,R04,R10,R11,R12,R13,R14,R20,R21,R22,R23/Reb0,R23/Reb2,R24,R30,R31,R32,R33,R34,R40,R41,R42/Reb1,R42/Reb2,R43,R44
COUNT=5             # number of bias frames, for BIAS image & noise analysis

[DARK]
ANNOTATION=Degraded
LOCATIONS=R00,R01,R02,R03,R04,R10,R11,R12,R13,R14,R20,R21,R22,R23/Reb0,R23/Reb2,R24,R30,R31,R32,R33,R34,R40,R41,R42/Reb1,R42/Reb2,R43,R44
BCOUNT=    0        # number of bias frames per dark set
dark= 120.0   3    # integration time and image count for dark set

[FLAT]
ANNOTATION=Degraded
LOCATIONS=R00,R01,R02,R03,R04,R10,R11,R12,R13,R14,R20,R21,R22,R23/Reb0,R23/Reb2,R24,R30,R31,R32,R33,R34,R40,R41,R42/Reb1,R42/Reb2,R43,R44
BCOUNT=0      # number of bias frames per flat image
WL    =SDSSi  # wavelength filter to use for the flats
HILIM =800.0  # maximum seconds for a flat field exposure
LOLIM =1.0    # minimum seconds for a flat field exposure
FILTERCONFIG = /gpfs/slac/lsst/fs2/u1/devel/ccs/bot-eotest-configs/Run5/filter.cfg
flat=     3000    empty  # signal level desired, in e-/pixel, ND filter #
#         30000    empty,  # signal level desired, in e-/pixel, ND filter #
#        180000    empty,  # signal level desired, in e-/pixel, ND filter #
#        300000    empty   # signal level desired, in e-/pixel, ND filter #
