# BOT EO configuration file

[ACQUIRE]
bias
dark

# specify which analysis routines to run
[ANALYZE]

[ANALYSIS_RUNS]

[BIAS]
COUNT=5        # number of bias frames, for BIAS image & noise analysis

[DARK]
BCOUNT=    1    # number of bias frames per dark set
dark=600.0   1  # integration time and image count for dark set
