# BOT EO configuration file for Run5 B protocol acquisition

[ACQUIRE]
bias1
bias2
bias3
bias4
dark
sflat
fe55
lambda
flat
persistence
#scan

[ANALYZE]
bias      # standalone, build bias Frame
noise     # needs dark
biasnoise # needs bias (noise & noise correlations)
dark      # needs dark
badpixel  # needs dark, sflat
ptc       # needs flatpair
brighterfatter # needs flatpair
overscan  # needs flatpair
linearity # needs flat
fullwell  # needs flat
cti       # needs sflat
tearing   # needs sflat
persistence # needs persistence
#scan      # needs scan

[ANALYSIS_RUNS]
# if only doing a portion of the ACQUIRE, use prior run for GAIN, DARK, BADPIXEL
GAIN=curated_amp_gains_2020-09-16.json         # get GAIN from this file

[BIAS1]
ACQTYPE=bias
ANNOTATION=0 sec extra delay
COUNT= 5
EXTRADELAY = 0

[BIAS2]
ACQTYPE=bias
ANNOTATION=15 sec extra delay
COUNT= 5
EXTRADELAY = 15.0

[BIAS3]
ACQTYPE=bias
ANNOTATION=30 sec extra delay
COUNT= 5
EXTRADELAY = 30

[BIAS4]
ACQTYPE=bias
ANNOTATION=60 sec extra delay
COUNT= 5
EXTRADELAY = 60

[DARK]
BCOUNT=    1    # number of bias frames per dark set
DARK=30  2,       # integration time and image count for dark set
     180 2,
     360 5

[SFLAT]
FILTERCONFIG = /gpfs/slac/lsst/fs2/u1/devel/ccs/bot-eotest-configs/Run5/filter.cfg
BCOUNT=   0    # number of bias frames per superflat set
HILIM =800.0   # maximum seconds for a flat field exposure
LOLIM =0       # minimum seconds for a flat field exposure
SFLAT=SDSSi  1000     25  ND_OD1.0,   # wavelength filter, signal(e-), count, ND filter#
      SDSSi  50000    10  empty    # wavelength filter, signal(e-), count, ND filter#

[FE55]
ND = ND_OD1.0   # Neutral density filter to use
BCOUNT=0        # number of bias frames per Fe55 set
FLAT=SDSSr 0    # wavelength filter, signal(e-) count for Flat on top of Fe55
LOLIM=0
FILTERCONFIG = /gpfs/slac/lsst/fs2/u1/devel/ccs/bot-eotest-configs/Run5/filter.cfg
COUNT=900.0   1 # exposure time and image count for an fe55 data set

[LAMBDA]
IMCOUNT=   1    # number of images at each wavelength
BCOUNT=    0    # number of bias frames per wavelength image
HILIM =800.0    # maximum seconds for a flat field exposure
LOLIM =0        # minimum seconds for a flat field exposure
FILTERCONFIG = /gpfs/slac/lsst/fs2/u1/devel/ccs/bot-eotest-configs/Run5/filter.cfg

LAMBDA = SDSSg   10000   empty,  # wavelength filter, expected e/pixel, ND filter #
         SDSSi   10000   empty,
         SDSSr   10000   empty,
         SDSSu   100     empty,
         SDSSY   10000   empty,
         SDSSz   10000   empty

[FLAT]
BCOUNT=1        # number of bias frames per flat image
WL    =SDSSi    # wavelength filter to use for the flats
HILIM =800.0    # maximum seconds for a flat field exposure
LOLIM =0        # minimum seconds for a flat field exposure
FILTERCONFIG = /gpfs/slac/lsst/fs2/u1/devel/ccs/bot-eotest-configs/Run5/filter.cfg
#
# Below has pairs from 100-200,000 e/pixel, log spaced with
# four overlapping pairs around the transition between
# ND_OD1.0 and empty (568-1090 e/pixel)
FLAT=    296 ND_OD0.5,  # number of electrons/pixel, ND filter
         239 ND_OD0.5,
         154 ND_OD0.5,
         192 ND_OD0.5,
         707 ND_OD0.5,
         569 ND_OD0.5,
        1687 ND_OD0.5,
         124 ND_OD0.5,
         458 ND_OD0.5,
         879 ND_OD0.5,
        1357 ND_OD0.5,
         368 ND_OD0.5,
         100 ND_OD0.5,
        2096 ND_OD0.5,
        1092 ND_OD0.5,
       35355 empty,
        1687 empty,
       11927 empty,
        2096 empty,
        1357 empty,
      104807 empty,
      130250 empty,
       28449 empty,
        7722 empty,
      250000 empty,
      161870 empty,
        9597 empty,
       67860 empty,
      201165 empty,
       54605 empty,
       18420 empty,
        6214 empty,
        3237 empty,
        4023 empty,
       14822 empty,
       84334 empty,
        1092 empty,
       43938 empty,
        5000 empty,
        2605 empty,
       22892 empty

[PERSISTENCE]
BCOUNT= 20  # number of bias frames per persistence set
WL= SDSSi      # wavelength filter
ND = empty
PERSISTENCE= 400000 5 0.0 0.0  # signal(e-), number of darks after flat, exposure time, time(sec) between darks
FILTERCONFIG = /gpfs/slac/lsst/fs2/u1/devel/ccs/bot-eotest-configs/Run5/filter.cfg

[SCAN]
n-transparent=1
n-scanmode=1
undercols = 0
precols = 155
readcols = 256
postcols = 165 # Must add up to 576
overcols = 0
prerows = 2
readrows = 1000
postrows = 1046
overrows = 0 # must add up to 2048

