# BOT EO configuration file for Run5 C protocol acquisition

[ACQUIRE]
bias
dark
sflat
fe55
lambda
flat
persistence
#scan

[ANALYZE]
bias      # standalone, build bias Frame
noise     # needs dark
biasnoise # needs bias (noise & noise correlations)
dark      # needs dark
dark_current_fit  # needs dark
badpixel  # needs dark, sflat
ptc       # needs flatpair
brighterfatter # needs flatpair
overscan  # needs flatpair
linearity # needs flat
fullwell  # needs flat
cti       # needs sflat
tearing   # needs sflat
persistence # needs persistence
#scan      # needs scan

[ANALYSIS_RUNS]
# if only doing a portion of the ACQUIRE, use prior run for GAIN, DARK, BADPIXEL
GAIN=curated_amp_gains_2020-09-16.json         # get GAIN from this file

[BIAS]
COUNT= 20       # number of bias frames, for BIAS image & noise analysis

[DARK]
BCOUNT=    1    # number of bias frames per dark set
DARK=30  2,       # integration time and image count for dark set
     180 2,
     360 5

[SFLAT]
FILTERCONFIG = /gpfs/slac/lsst/fs2/u1/devel/ccs/bot-eotest-configs/Run5/filter.cfg
BCOUNT=   0    # number of bias frames per superflat set
HILIM =800.0    # maximum seconds for a flat field exposure
LOLIM =1.    # minimum seconds for a flat field exposure
SFLAT=SDSSi  1000     25  ND_OD1.0,   # wavelength filter, signal(e-), count, ND filter#
      SDSSi  50000    10  empty    # wavelength filter, signal(e-), count, ND filter#

[FE55]
ND = ND_OD1.0   # Neutral density filter to use
BCOUNT=0        # number of bias frames per Fe55 set
FLAT=SDSSr 0    # wavelength filter, signal(e-) count for Flat on top of Fe55
LOLIM=0
FILTERCONFIG = /gpfs/slac/lsst/fs2/u1/devel/ccs/bot-eotest-configs/Run5/filter.cfg
COUNT=900.0   1 # exposure time and image count for an fe55 data set

[LAMBDA]
IMCOUNT=   1    # number of images at each wavelength
BCOUNT=    0    # number of bias frames per wavelength image
HILIM =800.0    # maximum seconds for a flat field exposure
LOLIM =1.    # minimum seconds for a flat field exposure
FILTERCONFIG = /gpfs/slac/lsst/fs2/u1/devel/ccs/bot-eotest-configs/Run5/filter.cfg

LAMBDA = SDSSg   10000   empty,  # wavelength filter, expected e/pixel, ND filter #
         SDSSi   10000   empty,
         SDSSr   10000   empty,
         SDSSu   100     empty,
         SDSSY   10000   empty,
         SDSSz   10000   empty

[FLAT]
BCOUNT=1      # number of bias frames per flat image
WL    =SDSSi        # wavelength filter to use for the flats
HILIM =800.0    # maximum seconds for a flat field exposure
LOLIM =1.    # minimum seconds for a flat field exposure
FILTERCONFIG = /gpfs/slac/lsst/fs2/u1/devel/ccs/bot-eotest-configs/Run5/filter.cfg
#
FLAT=    100 ND_OD1.0,  # number of electrons/pixel, ND filter
         146 ND_OD1.0,
         214 ND_OD1.0,
         313 ND_OD1.0,
         457 ND_OD1.0,
         669 ND_OD1.0,
         978 ND_OD1.0,
        1430 ND_OD1.0,
        2091 ND_OD1.0,
        3058 ND_OD1.0,
        2091 empty,   # overlap
        3058 empty,   # overlap
        4472 empty,
        6540 empty,
        9564 empty,
       13985 empty,
       20451 empty,
       29907 empty,
       43734 empty,
       63955 empty,
       93525 empty,
      136766 empty,
      200000 empty

[PERSISTENCE]
BCOUNT= 20  # number of bias frames per persistence set
WL= SDSSi      # wavelength filter
ND = empty
PERSISTENCE= 400000 5 0.0 0.0  # signal(e-), number of darks after flat, exposure time, time(sec) between darks
FILTERCONFIG = /gpfs/slac/lsst/fs2/u1/devel/ccs/bot-eotest-configs/Run5/filter.cfg

[SCAN]
n-transparent=1
n-scanmode=1
undercols = 0
precols = 155
readcols = 256
postcols = 165 # Must add up to 576
overcols = 0
prerows = 2
readrows = 1000
postrows = 1046
overrows = 0 # must add up to 2048

