
[ACQUIRE]
bias
dark
sflat

[ANALYZE]
#gainstability

[ANALYSIS_RUNS]
#BIAS = ######
#DARK = ######

[BIAS]
ACQTYPE=bias
ANNOTATION=0 sec extra delay
COUNT= 20

[DARK]
#ANNOTATION=Just half
#LOCATIONS=R02,R03,R04,R12,R13,R14,R22,R23,R24,R32,R33,R34,R42,R43,R44
SHUTTER = OPEN  # Shutter opens at start of acqusition, closes at end
BCOUNT=    0        # number of bias frames per dark set
dark=  15.0   10    # integration time and image count for dark set

[SFLAT]
SHUTTER = OPEN  # Shutter opens at start of acqusition, closes at end
# With 60 sec delay + 15 sec integration + 2.8 s readout, 1110 flats will take 24 hours
FILTERCONFIG = /gpfs/slac/lsst/fs2/u1/devel/ccs/bot-eotest-configs/Run6/calib.cfg
BCOUNT=  0     # number of bias frames per superflat set
HILIM = 15.0   # maximum seconds for a flat field exposure (used as exposure time)
LOLIM =  0     # minimum seconds for a flat field exposure
SFLAT = red 50000 300,
	blue 50000 300  # wavelength filter, signal(e-), count
