
[ACQUIRE]
bias
sflat

[ANALYZE]
#gainstability

[ANALYSIS_RUNS]
#BIAS = ######
#DARK = ######

[BIAS]
ACQTYPE=bias
ANNOTATION=0 sec extra delay
COUNT= 20

[SFLAT]
# With 60 sec delay + 15 sec integration + 2.8 s readout, 1110 flats will take 24 hours
FILTERCONFIG = /home/ccs/projects/fp-scripts-current/examples_ts8/calib.cfg
BCOUNT=  0     # number of bias frames per superflat set
HILIM = 15.0   # maximum seconds for a flat field exposure (used as exposure time)
LOLIM =  0     # minimum seconds for a flat field exposure
EXTRADELAY = 60
SFLAT = nm750 25000 1110  # wavelength filter, signal(e-), count
